<div class="ui divided list">
  {{#each-in items as |key value|}}
    {{#if (is-not-empty (get model key))}}
      <div class="item">
        <strong>{{prettify-camel-case key}}</strong>
        <div class="right floated content">
          {{#if (eq (attribute-type value) 'boolean')}}
            <i class="{{if value 'green checkmark' 'red remove'}} circle icon"></i>
          {{else}}
            {{value}}
            {{get model key}}
          {{/if}}
        </div>
      </div>
    {{/if}} 
  {{/each-in}}
</div>
{{yield}}