<table class="ui sortable stackable selectable compact table">
  <thead>
    <tr>
      {{#each fields as |field|}}
        <th>{{field}}</th>
      {{/each}}
      <th>Rehire This Person?</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |item|}}
      <tr>
        {{#each fields as |field|}}
          <td>
            {{get item field}}
          </td>
        {{/each}}
        <td class="positive center aligned is-clickable" {{action 'checkboxOnChange' item (not item.should_rehire)}}>
          {{#if item.isSaving}}
            <i class="large spinner loading icon"></i>
          {{else}}
            {{ui-checkbox checked=item.should_rehire}} 
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>