{{#ember-wormhole to='new-pick-modal'}}
  <div class="ui active page dimmer">
    <div class="content">
      <div class="center">
        <div class="ui container connector-form" style="color: black;">
          <div class="ui top attached menu">
            <div class="ui right menu">
              <div class="item">
                {{#link-to 'applicants.show-applicant' model.applicant.id tagName='button' class='circular ui small icon button'}}
                  <i class="icon delete"></i>
                {{/link-to}}
              </div>
            </div>
          </div>
          <div class="ui attached center aligned segment" style="color: black;">
            <h4 class="ui header">
              Pick which position for {{model.applicant.first_name}}?
            </h4>
            <div style="max-height: 300px; overflow-y: scroll;">
              <div class="ui middle aligned selection list">
                {{#each model.positions as |position|}}
                  <div class="item {{if (eq model.pick.position.id position.id) 'inverted blue'}}" onclick={{route-action 'associatePosition' model position}}>
                      {{position.title}}
                      {{#if (and model.pick.isSaving  
                            (eq model.pick.position.id position.id))}}
                        <i class="spinner loading icon"></i>
                      {{/if}}
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/ember-wormhole}}
{{outlet}}
