<div class="ui top attached menu">
  {{#link-to 'jobs' class='circular accent-color ui icon item button'}}
    <i class="icon left chevron" style="color: white;"></i>
  {{/link-to}}
</div>
<div class="ui attached segment">
  <h2 class="ui header">
    <div class="content">
      {{model.job.site_name}}
      <div class="sub header">{{model.job.category}}</div>
    </div>
  </h2>
  {{model.job.duties_responsbilities}}
  <div class="ui horizontal divider">
    Interested?
  </div>
  {{#liquid-if isInterested}}
    <div class="ui inverted green segment">
      You've expressed interest in this job! You don't need to do anything else.
    </div>
  {{else}}
    <div class="ui {{if isInterested 'green' 'blue'}} fluid button" onclick={{action 'toggleInterest'}}>
      CLICK HERE
    </div>
  {{/liquid-if}}
</div>
{{#ember-wormhole to='cbo-info-segment'}}
  <h3 class="ui top attached header">
    Contact Information
  </h3>
  <div class="ui raised attached segment cbo-contact-info">
    <div class="ui list">
      <div class="item">Primary Contact Person: {{model.job.primary_contact_person}} ({{model.job.primary_contact_person_title}})</div>
      <div class="item">Contact Phone: {{model.job.primary_contact_person_phone}}</div>
      <div class="item">Site Phone: {{model.job.site_phone}}</div>
    </div>
  </div>
{{/ember-wormhole}}
{{outlet}}
