<div class="ui top attached menu">
  {{#link-to 'jobs' class='circular accent-color ui icon item button'}}
    <i class="icon left chevron" style="color: white;"></i> &nbsp; Go Back
  {{/link-to}}
</div>
<div class="ui attached segment">
  <h2 class="ui header">
    <div class="content">
      {{model.job.site_name}}
      <div class="sub header">{{model.job.category}}</div>
    </div>
  </h2>
  {{model.job.duties_responsbilities}}
  {{#if model.job.ideal_candidate}}
    <div class="ui header">
      Ideal Candidate
    </div>
    {{model.job.ideal_candidate}}
  {{/if}}
  {{#if model.job.external_application_url}}
    <div class="ui yellow segment">
      Note: This job includes a separate application. Please <a href="{{model.job.external_application_url}}" target="_blank">click here to fill it out.</a>
    </div>
  {{/if}}
  <div class="ui horizontal divider">
    Interested?
  </div>
  {{#liquid-if isInterested}}
    <div class="ui yellow segment">
      You've expressed interest in this job! {{if model.job.external_application_url 'Just one more thing...' 'You don\'t need to do anything else!'}}
    </div>
    {{#liquid-if model.job.external_application_url}}
      <a class="ui red fluid button" href="{{model.job.external_application_url}}" target="_blank">
        WARNING: This job has an additional application. You need to fill this out to complete the process. Click here for the application.
      </a>
    {{/liquid-if}}
    <div class="ui basic segment">
      <button onclick={{action 'toggleInterest'}} class="ui negative basic fluid button">
        Remove this position from your interest list.
      </button>
    </div>
  {{else}}
    {{#if model.user.applicant.hasReachedMaxPositions}}
      You've expressed interest in the maximum number of jobs available.
    {{else}}
      <div class="ui {{if isInterested 'green' 'blue'}} fluid button" onclick={{action 'toggleInterest'}}>
        CLICK HERE
      </div>
    {{/if}}
  {{/liquid-if}}
</div>
{{#ember-wormhole to='cbo-info-segment'}}
  <h3 class="ui top attached header">
    Contact Information
  </h3>
  <div class="ui raised attached segment cbo-contact-info">
    <div class="ui list">
      <div class="item">Primary Contact Person: {{model.job.primary_contact_person}} ({{model.job.primary_contact_person_title}})</div>
      <div class="item">Contact Phone: {{model.job.primary_contact_person_phone}}</div>
      <div class="item">Site Phone: {{model.job.site_phone}}</div>
      <div class="item">Address: {{model.job.address}}</div>
    </div>
  </div>
{{/ember-wormhole}}
{{outlet}}
