{{!-- This is duplicated -- refactor! --}}
{{!-- <div class=""> --}}
  {{#liquid-bind model use="fade" class="demo-container" as |currentModel|}} 
    <div class="ui top attached menu">
      {{#link-to 'applicants' class='circular accent-color ui icon item button'}}
        <i class="icon right chevron" style="color: white;"></i>
      {{/link-to}}
      <div class="ui right menu">
        <div class="item">
          {{#link-to 'applicants.show-applicant.new-pick' tagName='div' class=(concat 'ui button accent-color' (if hasHitLimit ' disabled' ))}}
            <i class="icon star" style="color: white;"></i> Pick This Applicant
          {{/link-to}}
        </div>
      </div>
    </div>
    <div class="ui attached segment" style="height:800px; overflow-y: scroll">
      <h2 class="ui header">
        <div class="content">
          {{currentModel.first_name}} {{currentModel.last_name}}
        </div>
      </h2>
      <div class="ui basic segment">
        <div class="ui basic segment">
          {{list-model-attributes fields=fields model=currentModel}}
        </div>
        <h3 class="ui secondary header">
          Summary
        </h3>
        <ul class="ui list">
          <li>{{if currentModel.has_transit_pass 'Has transit pass' 'Does not have transit pass'}}</li>
          <li>{{if currentModel.in_school 'Is in school' 'Not in school'}}</li>
          <li>{{if currentModel.bps_student 'Is a BPS student' 'Is not a BPS student'}}</li>
          <li>{{if currentModel.english_first_language 'English is first language' 'English is not first language'}}</li>
          {{#if currentModel.fluent_other_language}}<li> Bi-lingual </li>{{/if}}
          {{#if currentModel.held_successlink_job_before}}<li>Has had a SuccessLink job before</li>{{/if}}
          {{#if currentModel.wants_to_return_to_previous_job}}<li>Wants to be rehired</li>{{/if}}
          {{#if currentModel.superteen_participant}}<li>Superteen</li>{{/if}}
          {{#if currentModel.receive_text_messages}}<li>Receives Text Messages</li>{{/if}}
        </ul>
        {{#if currentModel.interests}}
          <h3 class="ui secondary header">
            Interests
          </h3>
          <ul class="ui list">
            {{#each currentModel.interests as |interest|}}
              <li>{{interest}}</li>
            {{/each}}
          </ul>
        {{else}}
          <div class="ui secondary header">
            No Interests Specified
          </div>
        {{/if}}
        {{#if currentModel.participant_essay}}
          <h3 class="ui header">
            Essay
          </h3>
          {{currentModel.participant_essay}}
        {{/if}}
        <br/><br/><br/>
      </div>
    </div>
    {{outlet}}
  {{/liquid-bind}}
{{!-- </div> --}}