<div class="ui top attached menu">
  {{#link-to 'applicants' class='circular accent-color ui icon item button'}}
    <i class="icon left chevron" style="color: white;"></i>
  {{/link-to}}
</div>
<div class="ui attached segment">
  <h2 class="ui header">
    <div class="content">
      {{model.first_name}} {{model.last_name}}
      <div class="sub header">Age {{model.age}} | ID: {{model.icims_id}}</div>
    </div>
  </h2>
  <div class="ui divided stackable grid">
    <div class="ten wide column">
      <div class="ui basic segment">
        {{list-model-attributes fields=fields model=model}}
      </div>
    </div>
    <div class="six wide column">
      <h3 class="ui secondary header">
        Summary
      </h3>
      <ul class="ui list">
        <li>Does {{if (not model.prefers_nearby) 'not'}} prefer nearby</li>
        <li>{{if model.has_transit_pass 'Has transit pass' 'Does not have transit pass'}}</li>
        <li>{{if model.in_school 'Is in school' 'Not in school'}}</li>
        <li>{{if model.bps_student 'Is a BPS student' 'Is not a BPS student'}}</li>
        <li>{{if model.english_first_language 'English is first language' 'English is not first language'}}</li>
        {{#if model.fluent_other_language}}<li> Bi-lingual </li>{{/if}}
        {{#if model.held_successlink_job_before}}<li>Has had a SuccessLink job before</li>{{/if}}
        {{#if model.wants_to_return_to_previous_job}}<li>Wants to be rehired</li>{{/if}}
        {{#if model.superteen_participant}}<li>Superteen</li>{{/if}}
        {{#if model.receive_text_messages}}<li>Receives Text Messages</li>{{/if}}
      </ul>
      {{#if model.interests}}
        <h3 class="ui secondary header">
          Interests
        </h3>
        <ul class="ui list">
          {{#each uniqInterests as |interest|}}
            <li>{{interest}}</li>
          {{/each}}
        </ul>
      {{else}}
        <div class="ui secondary header">
          No Interests Specified
        </div>
      {{/if}}
    </div>
  </div>
  <h3 class="ui header">
    Essay
  </h3>
  {{model.participant_essay}}
</div>
{{outlet}}
