{{application-menu}}
<div class="ui container">
  <div class="ui grid">
    <div class="ten wide column">
      {{ui-table  fields=fields
                  model=model}}
    </div>
    <div class="six wide column" style="padding-left: 0;">
      {{#ui-visibility-sticky class="sticky-map"}}
        <div class="ui segment" style="padding: 0;">
          {{#leaflet-map bounds=mapState.bounds onLoad=(action (mut mapState.mapInstance)) maxZoom=15}}
            {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
            {{#each model as |applicant|}}
              {{circle-marker-layer color=(if applicant.isSelected 'green' 'blue') 
                                    radius=(if applicant.isSelected '10' '4') 
                                    lat=applicant.latitude 
                                    lng=applicant.longitude 
                                    onClick=(action 'linkTo' applicant)}}
            {{/each}}
          {{/leaflet-map}}
        </div>
      {{/ui-visibility-sticky}}
    </div>
  </div>
</div>
{{outlet}}