{{application-menu}}
<br/>

<div id="new-pick-modal">
</div>
<div class="ui basic segment">
  <div class="ui grid stackable">
    <div class="ten wide column" style="padding-right:0px;">
      <h1 class="ui header">Welcome, {{uniqSiteName}}</h1>

      <p>The BCYF Youth Engagement and Employment Summer Jobs Program has allocated you a total of {{totalAllotments}} positions. You may select {{selectionTotal}}% of your positions ({{directSelectAllotments}} youth) to work for you this summer. 
        {{#if (eq model.user.allocation_rule 2)}}
          In May 2017, the BCYF will select the remaining half of your positions ({{lotteryAllotments}} youth) through a jobs lottery.
        {{/if}}
      </p>

      <p>In the list below, browse through applicants who have an interest in the position or area of work you offer. Starting April 5th, you may review candidates and mark "Intend to Hire" or "I do not want to hire." Any remaining youth applicants enter into the jobs lottery.</p>

      <p>Please add your choices beginning April 5th and no later than April 28th. Your selections create an official record of who you want to hire. <b>It is mandatory to select applicants by April 28th to complete legal and HR requirements for employing youth.</b></p>

      <p><em>Note: The City of Boston's Division of Youth Engagement and Employment will not be contacting any youth on your behalf. You are responsible for contacting youth and evaluating them for your programs.</em></p>

      {{#liquid-if model.picks.length}}
        <div class='ui basic segment'>
          <div class="ui yellow segment">
            {{#ui-accordion}}
              <div class="active title">
                <i class="dropdown icon"></i>
                  Our records show you intend to hire these applicants:
              </div>
              <div class="active content">
                <div class="ui basic segment">
                  <div class="ui list">
                    {{#each model.picks as |pick|}}
                      <div class="item">
                        <div class="right floated content">
                          {{#ui-dropdown class="selection" selected=pick.position onChange=(action 'changePosition' pick) as |execute mapper|}}
                            <div class="default text">Positions</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                              {{#each model.user.positions as |position|}}
                                <div class="item" data-value="{{map-value mapper position}}">
                                  {{position.title}}
                                </div>
                              {{/each}}
                            </div>
                          {{/ui-dropdown}}
                          <div class="ui button" {{action 'removePick' pick}}>Remove</div>
                        </div>
                        <div class="content">
                          {{#link-to 'applicants.show-applicant' pick.applicant.id}} 
                            {{pick.applicant.first_name}} {{pick.applicant.last_name}}
                          {{/link-to}}
                        </div>
                      </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            {{/ui-accordion}}
            <div class="ui fluid green button {{if fakeSubmitButton 'disabled'}}" onclick={{action (mut fakeSubmitButton true)}}>
              Submit{{if fakeSubmitButton 'ted!'}}
            </div>
          </div>
        </div>
      {{/liquid-if}}

      {{#liquid-if model.requisitions}}
        <div class='ui basic segment'>
          <div class="ui yellow segment">
            {{#ui-accordion}}
              <div class="title">
                <i class="dropdown icon"></i>
                  These teens have expressed interest in your positions, but you have not yet decided whether you want to hire them:
              </div>
              <div class="content">
                <div class="ui basic segment">
                  <div class="ui list">
                    {{#each model.requisitions as |requisition|}}
                      <div class="item">
                        <div class="right floated menu">
                          <div class="ui button {{if (take 1 (intersect (array requisition.applicant.id) (map-by 'id' pickedApplicants))) 'disabled'}}" {{action 'pickTeen' requisition}}>Hire This Teen</div>
                        </div>
                        <div class="content">
                          {{#link-to 'applicants.show' requisition.id}} 
                            {{requisition.applicant.first_name}} {{requisition.applicant.last_name}} as a(n) {{requisition.position.title}} at {{requisition.position.site_name}}
                          {{/link-to}}
                        </div>
                      </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            {{/ui-accordion}}
          </div>
        </div>
      {{/liquid-if}}

      <div class="ui header">
        Teens who may be interested in {{userInterests}}
      </div>
      <div class="ui basic segment">
        {{#ui-search class="ui search fluid category-search" searchFields=(array 'description' 'title') searchFullText=true onSelect=(action 'linkToApplicant') source=source}}
          <input class="prompt category-search" type="text" placeholder="Search by Name">
          <div class="results"></div>
        {{/ui-search}}
      </div>
      {{#if (gt model.applicants.length 20)}}
        <div class="ui basic segment center aligned">
          <button class="circular ui icon button {{if min 'secondary' 'disabled'}}" onclick={{if min (action 'first')}}>
            <i class="angle double up icon"></i>
          </button>
          <button class="circular ui icon button {{if min 'primary' 'disabled'}}" onclick={{if min (action 'previous')}}>
            <i class="up chevron icon"></i>
          </button>
          <div class="ui circular label">
            {{page}}
          </div>
          <button class="circular ui icon button {{if (lte max model.applicants.length) 'primary' 'disabled'}}" onclick={{action 'next'}}>
            <i class="down chevron icon"></i>
          </button>
          <button class="circular ui icon button {{if (lte max model.applicants.length) 'secondary' 'disabled'}}" onclick={{action 'last'}}>
            <i class="angle double down icon"></i>
          </button>
        </div>
      {{/if}}
      {{ui-table fields=applicants_fields
                  model=paginatedModels
                  class='scrollable'
                  transition=transition
                  resource='applicants.show-applicant'}}
    </div>
    <div class="six wide column">
      {{#ui-sticky}} 
        {{liquid-outlet}}
      {{/ui-sticky}}
    </div>
  </div>
</div>
