<div class="viewport-vertical-height">
  <div class="ui basic segment viewport-vertical-height">
    <div class="ui grid stackable viewport-vertical-height">
      <div class="eight wide column">
        <h1 class="ui header">
          <div class="content">
            Hello, {{model.user.applicant.first_name}}!
            <div class="sub header">Here are jobs based on your interests. To login to SuccessLink, go <a href="https://successlink-boston.icims.com/jobs/login?loginOnly=1&redirect=&hashed=-435683065">here</a></div>
          </div>
        </h1>
        <p>Your file says you're interested in {{model.user.applicant_interests}}.</p>
          {{#liquid-if model.user.applicant.positions.length}}
            <div class="ui yellow segment">
              {{#ui-accordion}}
                <div class="title">
                  <i class="dropdown icon"></i>
                  {{#if model.user.applicant.hasReachedMaxPositions}}
                    You've expressed interest in the maximum number of positions allowed. To add another position, you must remove yourself from one other position.
                  {{else}}
                    You've expressed interest in <b>{{model.user.applicant.positions.length}}/10</b> positions!
                  {{/if}}
                </div>
                <div class="content">
                  <div class="ui basic segment">
                    <div class="ui ordered list">
                      {{#each model.user.applicant.positions as |position|}}
                        <div class="item">
                          {{#link-to 'jobs.show' position.id}} 
                            {{position.site_name}} {{if position.external_application_url '(Note: this position includes an external application)'}}
                          {{/link-to}}
                        </div>
                      {{/each}}
                    </div>
                  </div>
                </div>
              {{/ui-accordion}}
            </div>
          {{/liquid-if}}
        {{liquid-outlet}}
      </div>
      <div class="eight wide column">
        {{#ui-search class="ui search fluid category-search" searchFields=(array 'description' 'title') searchFullText=true onSelect=(action 'linkToApplicant') source=source}}
          <input class="prompt category-search" type="text" placeholder="Search by Name">
          <div class="results"></div>
        {{/ui-search}}
        <div class="ui segment map-ui-segment">
          {{#leaflet-map onLoad=(action 'setMapInstance') onMoveend=(action 'resetMap') bounds=mapState.bounds}}
            {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
            {{#each clusters as |site|}}
              {{#circle-marker-layer fillColor=(if site.isSelected '#FF5722' '#1A5678') 
                                    stroke=0
                                    fillOpacity=0.9
                                    radius=(if site.isSelected 8 4) 
                                    lat=site.latitude 
                                    lng=site.longitude
                                    onClick=(if site.hasManyJobs '' (action 'linkTo' site.values.firstObject)) }}
                {{#popup-layer}}
                  <ul>
                    <h3 class="ui header">
                      {{site.values.length}} at this location:
                    </h3>
                    {{#each site.values as |job|}}
                      <li>
                        {{link-to job.category 'jobs.show' job.id}}
                      </li>
                    {{/each}}
                  </ul>
                {{/popup-layer}}
              {{/circle-marker-layer}}
            {{/each}}
          {{/leaflet-map}}
          <div id="cbo-info-segment">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
