<div class="ui container">
  <h1>DYEE Rehire Form</h1>
  <div class="ui segment">
    {{#ui-dropdown class="search fluid selection" allowAdditions=true selected=site_name onChange=(action (mut site_name)) as |execute mapper|}}
      <div class="default text">Type to Search for your Organization</div>
      {{#if site_name}}
        <i class="delete red icon" {{action 'clearDropdown'}}></i>
      {{else}}
        <i class="dropdown icon"></i>
      {{/if}}
      
      <div class="menu">
        {{#each model.sites as |site|}}
          <div class="item" data-value="{{map-value mapper site}}">
            {{site}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  {{#liquid-if site_name}} 
    <div class="ui segment">
      {{ui-table-rehire  fields=fields
                  model=(sort-by 'person_name' model.applicants)}}
    </div>
  {{/liquid-if}}
</div>
{{outlet}}
